:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;

  --back: #92949c6d;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

#proposal-text {
  background-color: var(--back);
  padding-block: 1em;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  word-wrap: break-word;
}

#home-icon {
  background-color: var(--warning);
  border-radius: 50%;
  padding: 0.2em;
  height: 1em;
  width: 1em;
  opacity: 0.7;
}

#home-icon:hover {
  opacity: 1;
}

#home-icon:active {
  background-color: var(--light);
}
