:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;

  --back: #92949c6d;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
}

a {
  color: var(--tertiary);
}

span#heart {
  color: var(--danger);
}

#proposal-text {
  background-color: var(--back);
  padding-block: 1em;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  word-wrap: break-word;
}

.proposal-button {
  padding: 1em;
  font-size: large;
  font-weight: bolder;
  border-radius: 12px;
  opacity: 0.6;
}

.proposal-button:hover {
  opacity: 0.8;
}

.proposal-button:active {
  opacity: 1;
}

#proposal-yes {
  background-color: var(--success);
}

#proposal-no {
  background-color: var(--danger);
  height: 61px;
  width: 80px;
  /* position: absolute;
  left: 0px;
  top: 0px; */
}

#count-span {
  color: var(--wall);
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: xx-large;
}
